.freelanceBlock {
  height: 100vh;
  background-color: lightsalmon;
}

.freelanceContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: lightgreen;
}

.freelance {
  border: 1px solid;
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
}
