.skillsBlock {
  height: 100vh;
  background-color: lightblue;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: lightgreen;
}

.skills {
  border: 1px solid;
  width: 100%;
}